### 1. TRATAMIENTO DE DATOS.

In [2]:
'''Importar Bibliotecas.'''

import pandas as pd

In [3]:
''' Cargar las tablas desde los csv'''

clase_1=pd.read_csv('./data/clase_1.csv',sep=';')
clase_2=pd.read_csv('./data/clase_2.csv',sep=';')
clase_3=pd.read_csv('./data/clase_3.csv',sep=';')
clase_4=pd.read_csv('./data/clase_4.csv',sep=';')
claustro=pd.read_csv('./data/claustro.csv',sep=';')

In [4]:
''' Ver los diferentes datos.'''

display(clase_1,clase_2,clase_3,clase_4,claustro)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
5,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
9,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
10,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
11,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
13,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
14,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
1,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
2,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
3,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
4,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
5,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto
6,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto
7,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
8,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto
9,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullStack
0,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
5,Julie Ferrer,Julie_Ferrer@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,No Apto,Apto,No Apto
6,Mireia Cabañas,Mireia_Cabañas@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Flavia Amador,Flavia_Amador@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,Apto,Apto
8,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
9,Ester Sánchez,Ester_Sánchez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,No Apto,Apto
10,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
11,Loida Arellano,Loida_Arellano@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
12,Heraclio Duque,Heraclio_Duque@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,No Apto,No Apto
13,Herberto Figueras,Herberto_Figueras@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullStack
0,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
1,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
2,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
3,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto
4,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto
5,Ricarda Tovar,Ricarda_Tovar@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
6,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
7,Daniel Rosselló,Daniel_Rosselló@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
8,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
9,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
10,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
11,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,No Apto,Apto
12,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto

               Nombre Rol Vertical   Promocion    Campus   Modalidad
0           Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1   Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2          Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial
5     Angélica Corral  TA       FS     Febrero    Madrid  Presencial
6         Ariel Lledó  TA       DS  Septiembre    Madrid  Presencial
7         Mario Prats  LI       FS     Febrero  Valencia      Online
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid      Online
9  María Dolores Diaz  LI       DS  Septiembre    Madrid      Online

### 2. CREAR DATAFRAME.

In [5]:
'''Crear DataFrame de Proyectos: Proyectos_DS y Proyectos_FS.'''

# Crear Dataframe Proyectos_DS
df_concatenado_ds = pd.concat(
    [clase_1[['Proyecto_HLF', 'Proyecto_EDA', 'Proyecto_BBDD', 'Proyecto_ML', 'Proyecto_Deployment' ]], 
     clase_2[['Proyecto_HLF', 'Proyecto_EDA', 'Proyecto_BBDD', 'Proyecto_ML', 'Proyecto_Deployment' ]]], 
    ignore_index=True
)

# Transformar las columnas en filas con melt
df_proyectos_ds = df_concatenado_ds.melt(var_name='Nombre')

# Asegurarse de que no existan espacios adicionales en la columna 'Nombre'
df_proyectos_ds['Nombre'] = df_proyectos_ds['Nombre'].str.strip()

#Elimina filas duplicadas basadas en la columna Nombre
df_proyectos_ds = df_proyectos_ds.drop_duplicates(subset=['Nombre'], keep='first').reset_index(drop=True)

# Crear la columna Vertical con el valor "DS"
df_proyectos_ds['Vertical'] = "DS"

# Reordenar las columnas para incluir la columna Vertical
df_proyectos1 = df_proyectos_ds[['Nombre', 'Vertical']]
df_proyectos1

                Nombre Vertical
0         Proyecto_HLF       DS
1         Proyecto_EDA       DS
2        Proyecto_BBDD       DS
3          Proyecto_ML       DS
4  Proyecto_Deployment       DS

In [6]:
# Crear Dataframe Proyectos_FS
df_concatenado_fs = pd.concat(
    [clase_3[['Proyecto_WebDev', 'Proyecto_FrontEnd', 'Proyecto_Backend', 'Proyecto_React', 'Proyecto_FullStack']], 
     clase_4[['Proyecto_WebDev', 'Proyecto_FrontEnd', 'Proyecto_Backend', 'Proyecto_React', 'Proyecto_FullStack']]],
    ignore_index=True
)

# Transformar las columnas en filas con melt
df_proyectos_fs = df_concatenado_fs.melt(var_name='Nombre')

# Asegurarse de que no existan espacios adicionales en la columna 'Nombre'
df_proyectos_fs['Nombre'] = df_proyectos_fs['Nombre'].str.strip()

#Elimina filas duplicadas basadas en la columna Nombre
df_proyectos_fs = df_proyectos_fs.drop_duplicates(subset=['Nombre'], keep='first').reset_index(drop=True)

# Crear la columna Vertical con el valor "DS"
df_proyectos_fs['Vertical'] = "FS"

# Reordenar las columnas para incluir la columna Vertical
df_proyectos2 = df_proyectos_fs[['Nombre', 'Vertical']]
df_proyectos2

               Nombre Vertical
0     Proyecto_WebDev       FS
1   Proyecto_FrontEnd       FS
2    Proyecto_Backend       FS
3      Proyecto_React       FS
4  Proyecto_FullStack       FS

In [7]:
# Crear Dataframe Proyectos, unificando los dos anteriores.

df_proyectos = pd.concat([df_proyectos1, df_proyectos2],ignore_index=True)

#Crear columna ID_proyecto.
df_proyectos['ID_proyecto']= range(1, len(df_proyectos) + 1)

# Reordenar las columnas para incluir la columna Vertical
df_proyectos = df_proyectos[['ID_proyecto', 'Nombre', 'Vertical']]

df_proyectos

   ID_proyecto               Nombre Vertical
0            1         Proyecto_HLF       DS
1            2         Proyecto_EDA       DS
2            3        Proyecto_BBDD       DS
3            4          Proyecto_ML       DS
4            5  Proyecto_Deployment       DS
5            6      Proyecto_WebDev       FS
6            7    Proyecto_FrontEnd       FS
7            8     Proyecto_Backend       FS
8            9       Proyecto_React       FS
9           10   Proyecto_FullStack       FS

In [8]:
'''Creación del DataFrame de Alumnos.'''

# Crear cuatro datafreme por cada una de las clases.
df_alumnos1=pd.DataFrame(columns=['Nombre','Email','ID_campus','ID_curso'],index=range(0,len(clase_1)))
df_alumnos2=pd.DataFrame(columns=['Nombre','Email','ID_campus','ID_curso'],index=range(0,len(clase_2)))
df_alumnos3=pd.DataFrame(columns=['Nombre','Email','ID_campus','ID_curso'],index=range(0,len(clase_3)))
df_alumnos4=pd.DataFrame(columns=['Nombre','Email','ID_campus','ID_curso'],index=range(0,len(clase_4)))

# Realización de bucles para recorrer cada una de las filas e ir cargando los datos.
for i in range(len(clase_1)):
    df_alumnos1.iloc[i,0]=clase_1.loc[i,'Nombre']
    df_alumnos1.iloc[i,1]=clase_1.loc[i,'Email']
    df_alumnos1.iloc[i,2]=1
    df_alumnos1.iloc[i,3]=10

for i in range(len(clase_2)):
    df_alumnos2.iloc[i,0]=clase_2.loc[i,'Nombre']
    df_alumnos2.iloc[i,1]=clase_2.loc[i,'Email']
    df_alumnos2.iloc[i,2]=1
    df_alumnos2.iloc[i,3]=11

for i in range(len(clase_3)):
    df_alumnos3.iloc[i,0]=clase_3.loc[i,'Nombre']
    df_alumnos3.iloc[i,1]=clase_3.loc[i,'Email']
    df_alumnos3.iloc[i,2]=1
    df_alumnos3.iloc[i,3]=12

for i in range(len(clase_4)):
    df_alumnos4.iloc[i,0]=clase_4.loc[i,'Nombre']
    df_alumnos4.iloc[i,1]=clase_4.loc[i,'Email']
    df_alumnos4.iloc[i,2]=2
    df_alumnos4.iloc[i,3]=13

# Concatenar los diferentes dataframe creados anteriormente.
df_alumnos=pd.concat(
    [df_alumnos1,df_alumnos2,df_alumnos3,df_alumnos4],ignore_index=True
)

df_alumnos

                  Nombre                           Email ID_campus ID_curso
0           Jafet Casals          Jafet_Casals@gmail.com         1       10
1       Jorge Manzanares      Jorge_Manzanares@gmail.com         1       10
2          Onofre Adadia         Onofre_Adadia@gmail.com         1       10
3           Merche Prada          Merche_Prada@gmail.com         1       10
4           Pilar Abella          Pilar_Abella@gmail.com         1       10
5           Leoncio Tena          Leoncio_Tena@gmail.com         1       10
6        Odalys Torrijos       Odalys_Torrijos@gmail.com         1       10
7       Eduardo Caparrós      Eduardo_Caparrós@gmail.com         1       10
8     Ignacio Goicoechea    Ignacio_Goicoechea@gmail.com         1       10
9      Clementina Santos     Clementina_Santos@gmail.com         1       10
10         Daniela Falcó         Daniela_Falcó@gmail.com         1       10
11         Abraham Vélez         Abraham_Vélez@gmail.com         1       10
12  Maximiliano Menéndez  Maximiliano_Menéndez@gmail.com         1       10
13         Anita Heredia         Anita_Heredia@gmail.com         1       10
14             Eli Casas             Eli_Casas@gmail.com         1       10
15     Guillermo Borrego     Guillermo_Borrego@gmail.com         1       11
16        Sergio Aguirre        Sergio_Aguirre@gmail.com         1       11
17       Carlito Carrión       Carlito_Carrión@gmail.com         1       11
18       Haydée Figueroa       Haydée_Figueroa@gmail.com         1       11
19         Chita Mancebo         Chita_Mancebo@gmail.com         1       11
20      Joaquina Asensio      Joaquina_Asensio@gmail.com         1       11
21      Cristian Sarabia      Cristian_Sarabia@gmail.com         1       11
22         Isabel Ibáñez         Isabel_Ibáñez@gmail.com         1       11
23       Desiderio Jordá       Desiderio_Jordá@gmail.com         1       11
24       Rosalina Llanos       Rosalina_Llanos@gmail.com         1       11
25        Amor Larrañaga        Amor_Larrañaga@gmail.com         1       12
26      Teodoro Alberola      Teodoro_Alberola@gmail.com         1       12
27           Cleto Plana           Cleto_Plana@gmail.com         1       12
28      Aitana Sebastián      Aitana_Sebastián@gmail.com         1       12
29      Dolores Valbuena      Dolores_Valbuena@gmail.com         1       12
30          Julie Ferrer          Julie_Ferrer@gmail.com         1       12
31        Mireia Cabañas        Mireia_Cabañas@gmail.com         1       12
32         Flavia Amador         Flavia_Amador@gmail.com         1       12
33         Albino Macias         Albino_Macias@gmail.com         1       12
34         Ester Sánchez         Ester_Sánchez@gmail.com         1       12
35    Luis Miguel Galvez    Luis_Miguel_Galvez@gmail.com         1       12
36        Loida Arellano        Loida_Arellano@gmail.com         1       12
37        Heraclio Duque        Heraclio_Duque@gmail.com         1       12
38     Herberto Figueras     Herberto_Figueras@gmail.com         1       12
39         Teresa Laguna         Teresa_Laguna@gmail.com         2       13
40      Estrella Murillo      Estrella_Murillo@gmail.com         2       13
41       Ernesto Uriarte       Ernesto_Uriarte@gmail.com         2       13
42       Daniela Guitart       Daniela_Guitart@gmail.com         2       13
43        Timoteo Trillo        Timoteo_Trillo@gmail.com         2       13
44         Ricarda Tovar         Ricarda_Tovar@gmail.com         2       13
45   Alejandra Vilaplana   Alejandra_Vilaplana@gmail.com         2       13
46       Daniel Rosselló       Daniel_Rosselló@gmail.com         2       13
47         Rita Olivares         Rita_Olivares@gmail.com         2       13
48          Cleto Montes          Cleto_Montes@gmail.com         2       13
49       Marino Castilla       Marino_Castilla@gmail.com         2       13
50   Estefanía Valcárcel   Estefanía_Valcárcel@gmail.com         2       13
51        Noemí Vilanova        Noemí_Vilanova@gmail.com         2       13

In [9]:
''' Crear DataFrame de Promoción.'''

df_promocion=pd.DataFrame(columns=['id_promocion','nombre','fecha_comienzo'])

# Crear columna llamada Fecha_comienzo.
df_promocion['fecha_comienzo']=[clase_1.loc[0,'Fecha_comienzo'],clase_2.loc[0,'Fecha_comienzo'],clase_3.loc[0,'Fecha_comienzo'],clase_4.loc[0,'Fecha_comienzo']]

# Crear columna llamada Nombre.
df_promocion['nombre']=['Septiembre','Febrero','Septiembre','Febrero']

# Crear columna llamada ID_promoción.
df_promocion['id_promocion']= range(1, len(df_promocion) + 1)

df_promocion

   id_promocion      nombre fecha_comienzo
0             1  Septiembre     18/09/2023
1             2     Febrero     12/02/2024
2             3  Septiembre     18/09/2023
3             4     Febrero     12/02/2024

In [10]:
'''Creación del DataFrame Campus.'''

# Concatenar las cuatro clases.
df_clasesp = pd.concat([clase_1,clase_2,clase_3,clase_4])

# Eliminar las columnas que no son necesarias.
df_clases = df_clasesp.drop(columns=['Fecha_comienzo','Proyecto_HLF', 'Proyecto_EDA', 'Proyecto_BBDD', 'Proyecto_ML',
       'Proyecto_Deployment', 'Proyecto_WebDev', 'Proyecto_FrontEnd',
       'Proyecto_Backend', 'Proyecto_React', 'Proyecto_FullStack'])

# Crear DataFrame mediante la columna de Campus usando los valores únicos.
df_campus = pd.DataFrame(df_clases['Campus'].unique())

# Renombrar la columna por el nombre ciudad.
df_campus = df_campus.rename(columns={0:'Ciudad'})

# Crear la columna ID_campus y crear su numeración.
df_campus['ID_campus']=range(1, len(df_campus) + 1)

# Reordenar las columnas.
df_campus=df_campus[['ID_campus','Ciudad']]

df_campus

   ID_campus    Ciudad
0          1    Madrid
1          2  Valencia

In [11]:
'''Creación del DataFrame Profesor.'''

# Recombrar el DataFrame de claustro con el nombre df_profesor.
df_profesor= claustro

# Crear columna ID_profesor y crear su numeración.
df_profesor['ID_profesor']=range(1, len(df_profesor) + 1)

# Elegir las columnas que nos interesan.
df_profesor=df_profesor[['ID_profesor','Nombre','Rol','Vertical', 'Campus']]   

# Renombrar columna Campus por Ciudad.
df_profesor=df_profesor.rename(columns={'Campus': 'ciudad'})
df_profesor=df_profesor.rename(columns={'ID_profesor':'id_profesor'})
df_profesor=df_profesor.rename(columns={'Nombre':'nombre'})
df_profesor=df_profesor.rename(columns={'Rol':'rol'})
df_profesor=df_profesor.rename(columns={'Vertical':'vertical'})

df_profesor

   id_profesor              nombre rol vertical    ciudad
0            1           Noa Yáñez  TA       DS    Madrid
1            2   Saturnina Benitez  TA       DS    Madrid
2            3          Anna Feliu  TA       FS    Madrid
3            4       Rosalva Ayuso  TA       FS  Valencia
4            5    Ana Sofía Ferrer  TA       FS  Valencia
5            6     Angélica Corral  TA       FS    Madrid
6            7         Ariel Lledó  TA       DS    Madrid
7            8         Mario Prats  LI       FS  Valencia
8            9   Luis Ángel Suárez  LI       FS    Madrid
9           10  María Dolores Diaz  LI       DS    Madrid

In [12]:
'''Creación del DataFrame Aula.'''

# Crear DataFrame con unas columnas determinadas.
df_aula=pd.DataFrame(columns=['ID_aula','numero','ID_campus'])

# 2. Merge con la tabla auxiliar.
# Merge con alumnos para obtener ID_campus
df_aula= df_campus.merge(df_campus, on=["Ciudad"])

# Crear columna ID_aula y crear su numeración.
df_aula['ID_aula']=range(1, len(df_aula) + 1)

# Crear números de aulas, inventadas.
df_aula['numero']=[1,2]

# Eliminar columnas. 
df_aula=df_aula.drop(columns=['ID_campus_x', 'Ciudad'])

# Reordenar columnas.
df_aula= df_aula[['ID_aula', 'numero', 'ID_campus_y']]

# Cambiar nombre.
df_aula= df_aula.rename(columns={'ID_campus_y': 'ID_campus'})

df_aula

   ID_aula  numero  ID_campus
0        1       1          1
1        2       2          2

In [13]:
'''Creación del DataFrame Profesor_curso.'''

# Crear DataFrame con unas columnas determinadas.
df_profesor_curso=pd.DataFrame(columns=['id_profesor','ID_curso'])

# Crear columna ID_aula y crear su numeración.
df_profesor_curso['ID_profesor_curso']=range(1, len(df_profesor_curso) + 1)

# Reordenar las columnas.
df_profesor_curso=df_profesor_curso[['ID_profesor_curso','id_profesor', 'ID_curso']]

# Borrar la columna ID_profesor_curso.
df_profesor_curso.drop(columns='ID_profesor_curso',axis=1,inplace=True)

# Crear columna nueva, forzando el tipo.
df_profesor_curso['ID_profesor']=df_profesor['id_profesor'].astype(int)

# Crear columna de ID_curso, con su numeración y su tipo.
df_profesor_curso['ID_curso']=[10,11,12,13,13,12,10,13,12,11]

df_profesor_curso['ID_curso']=df_profesor_curso['ID_curso'].astype(int)

df_profesor_curso

  id_profesor  ID_curso  ID_profesor
0         NaN        10            1
1         NaN        11            2
2         NaN        12            3
3         NaN        13            4
4         NaN        13            5
5         NaN        12            6
6         NaN        10            7
7         NaN        13            8
8         NaN        12            9
9         NaN        11           10

In [14]:
'''Creación del DataFrame Curso.'''

df_curso=pd.DataFrame(columns=['ID_curso','vertical','modalidad','ID_campus','ID_aula','ID_promocion'])

# Crear columna modalidad y sus valores.
df_curso['modalidad']=['Presencial','Presencial','Online','Online']

# Crear columna ID_curso y crear su numeración.
df_curso['ID_curso']=range(1, len(df_curso) + 1)

df_curso

   ID_curso vertical   modalidad ID_campus ID_aula ID_promocion
0         1      NaN  Presencial       NaN     NaN          NaN
1         2      NaN  Presencial       NaN     NaN          NaN
2         3      NaN      Online       NaN     NaN          NaN
3         4      NaN      Online       NaN     NaN          NaN

In [15]:
#Cargar los datos de las columnas.
df_curso['vertical']=['DS','DS','FS','FS']
df_curso['ID_aula']=[1,2,2,1]
df_curso['ID_promocion']=[1,2,3,4]
df_curso['ID_campus']=[1,1,1,2]

df_curso

   ID_curso vertical   modalidad  ID_campus  ID_aula  ID_promocion
0         1       DS  Presencial          1        1             1
1         2       DS  Presencial          1        2             2
2         3       FS      Online          1        2             3
3         4       FS      Online          2        1             4

In [16]:
'''Creación del DataFrame de Calificaciones.'''

# 1. Normalizar las tablas originales de las clases.
clase1_normalizada = clase_1.melt(
    id_vars=["Nombre", "Email", "Promoción", "Fecha_comienzo", "Campus"],
    var_name="Proyecto",
    value_name="resultado"
)

clase2_normalizada = clase_2.melt(
    id_vars=["Nombre", "Email", "Promoción", "Fecha_comienzo", "Campus"],
    var_name="Proyecto",
    value_name="resultado"
)

clase3_normalizada = clase_3.melt(
    id_vars=["Nombre", "Email", "Promoción", "Fecha_comienzo", "Campus"],
    var_name="Proyecto",
    value_name="resultado"
)

clase4_normalizada = clase_4.melt(
    id_vars=["Nombre", "Email", "Promoción", "Fecha_comienzo", "Campus"],
    var_name="Proyecto",
    value_name="resultado"
)

# Combinar ambas tablas normalizadas
tabla_normalizada = pd.concat([clase1_normalizada, clase2_normalizada, clase3_normalizada, clase4_normalizada])
tabla_normalizada

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto,resultado
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
...,...,...,...,...,...,...,...
60,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto
61,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto
62,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,No Apto
63,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto
64,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto

In [17]:
# 2. Merge con las tablas auxiliares
# Merge con alumnos para obtener ID_alumno
df_calificaciones = tabla_normalizada.merge(df_alumnos, on=["Nombre", "Email"])

# Merge con proyectos para obtener ID_proyecto
df_calificaciones = df_calificaciones.merge(df_proyectos, left_on="Proyecto", right_on="Nombre")
df_calificaciones

,Nombre_x,Email,Promoción,Fecha_comienzo,Campus,Proyecto,resultado,ID_campus,ID_curso,ID_proyecto,Nombre_y,Vertical
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
...,...,...,...,...,...,...,...,...,...,...,...,...
255,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS
256,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS
257,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,No Apto,2,13,10,Proyecto_FullStack,FS
258,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS
259,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS

In [18]:
df_calificaciones

,Nombre_x,Email,Promoción,Fecha_comienzo,Campus,Proyecto,resultado,ID_campus,ID_curso,ID_proyecto,Nombre_y,Vertical
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto,1,10,1,Proyecto_HLF,DS
...,...,...,...,...,...,...,...,...,...,...,...,...
255,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS
256,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS
257,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,No Apto,2,13,10,Proyecto_FullStack,FS
258,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS
259,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Proyecto_FullStack,Apto,2,13,10,Proyecto_FullStack,FS

In [19]:
# 3. Generar la columna ID_calificacion
df_calificaciones["ID_calificacion"] = range(1, len(df_calificaciones) + 1)

# 4. Seleccionar columnas finales
df_calificaciones_final = df_calificaciones[["ID_calificacion", "resultado", "Nombre_y"]]

# 5. Cambiar nombre columna Nombre_y por nombre_proyecto
df_calificaciones_final = df_calificaciones_final.rename(columns={"Nombre_y": "nombre_proyecto"})

df_calificaciones_final

     ID_calificacion resultado     nombre_proyecto
0                  1      Apto        Proyecto_HLF
1                  2      Apto        Proyecto_HLF
2                  3      Apto        Proyecto_HLF
3                  4      Apto        Proyecto_HLF
4                  5      Apto        Proyecto_HLF
..               ...       ...                 ...
255              256      Apto  Proyecto_FullStack
256              257      Apto  Proyecto_FullStack
257              258   No Apto  Proyecto_FullStack
258              259      Apto  Proyecto_FullStack
259              260      Apto  Proyecto_FullStack

[260 rows x 3 columns]

### 3. CONVERTIR LOS DATAFRAME EN CSVs.

In [38]:
'''Convertir los DataFrame en csv.'''

# Alumnos.
df_alumnos.to_csv('alumnos.csv', index=False)

# Proyectos.
df_proyectos.to_csv('proyectos.csv', index=False)

# Calificaciones.
df_calificaciones_final.to_csv('calificaciones.csv', index=False)

# Promoción.
df_promocion.to_csv('promocion.csv', index=False)

# Campus.
df_campus.to_csv('campus.csv', index=False)

# Aula.
df_aula.to_csv('aula.csv', index=False)

# Profesor.
df_profesor.to_csv('profesor.csv', index=False)

# Curso.
df_curso.to_csv('curso.csv', index=False)

### 4. SUBIR LOS DATAFRAME AL SERVIDOR DE LA BBDD.

In [39]:
'''Importar Biblioteca de conexión con BBDD.'''

import psycopg2

In [ ]:
'''Logarte en la BBDD'''

conn = psycopg2.connect(
        host="",       
        database="",        
        user="",            
        password="",        
        port=""
        )

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute("SELECT version();")
print("Versión de PostgreSQL:", cursor.fetchone())

In [ ]:
'''Bucle para rellenas las tablas de la BBDD.'''

# Recorrer las filas del DataFrame e insertar cada una de ellas en la tabla carrespondiente
for index, row in df_promocion.iterrows():
    insert_query = """
    INSERT INTO promocion (nombre, fecha_comienzo)
    VALUES (%s, %s);
    """
    # Pasar los valores de manera segura
    cursor.execute(insert_query, (row[1], row[2]))
# Confirmar la transacción
conn.commit()

In [ ]:
''' Carga de los datos en la tabla de Curso.'''

# Recorrer las filas del DataFrame e insertar cada una en la tabla.
for index, row in df_curso.iterrows():
    insert_query = """
    INSERT INTO curso (vertical, modalidad,id_campus,id_aula,id_promocion)
    VALUES (%s, %s,%s,%s,%s);
    """

    # Pasar los valores de manera segura
    cursor.execute(insert_query, (row[1], row[2],row[3], row[4],row[5]))
    
# Confirmar la transacción
conn.commit()

In [ ]:
''' Carga de los datos en la tabla de Alumnos.'''

# Recorrer las filas del DataFrame e insertar cada una en la tabla.
for index, row in df_alumnos.iterrows():
    insert_query = """
    INSERT INTO alumno (nombre_apellidos,email,id_campus,id_curso)
    VALUES (%s,%s,%s,%s);
    """

    # Pasar los valores de manera segura
    cursor.execute(insert_query, (row[0],row[1],row[2],row[3]))
    
# Confirmar la transacción
conn.commit()

In [ ]:
''' Carga de los datos en la tabla de Promoción.'''

# Recorrer las filas del DataFrame e insertar cada una en la tabla.
for index, row in df_promocion.iterrows():
    insert_query = """
    INSERT INTO promocion (nombre, fecha_comienzo)
    VALUES (%s, %s);
    """

    # Pasar los valores de manera segura
    cursor.execute(insert_query, (row[1], row[2]))
    
# Confirmar la transacción
conn.commit()

In [ ]:
''' Carga de los datos en la tabla de Profesor_curso.'''

# Recorrer las filas del DataFrame e insertar cada una en la tabla
for index, row in df_profesor_curso.iterrows():
    insert_query = """
    INSERT INTO profesor_curso (id_profesor,id_curso)
    VALUES (%s, %s);
    """

    # Pasar los valores de manera segura
    cursor.execute(insert_query, (int(row[0]), int(row[1])))

# Confirmar la transacción
conn.commit()

In [ ]:
''' Carga de los datos en la tabla de calificaciones.'''

# Recorrer las filas del DataFrame e insertar cada una en la tabla
for index, row in df_calificaciones_final.iterrows():
    insert_query = """
    INSERT INTO calificaciones (resultado,id_alumno,nombre_proyecto)
    VALUES (%s,%s, %s);
    """
    # Pasar los valores de manera segura
    cursor.execute(insert_query, (row[1], row[2], row[3]))
# Confirmar la transacción
conn.commit()

In [ ]:
cursor.close()
conn.close()